$color-primary: #5170eb;
$color-secondary: #eb5160ff;
$color-gold: #ffbf00;
$color-bg-card: rgba(169, 215, 255, 1);
$color-bg-light: rgba(231, 214, 255, 1);
$color-bg-white-shade: #eaf4fc;

/* card styling */
.testimonial-card-container {
  border: 2px solid white;
  background-color: $color-bg-card;
}
.testimonial-card-container h4 {
  color: $color-secondary;
}

.testimonial-card-container footer {
  border-top: 2px solid white;
  background-color: $color-bg-white-shade;
  color: #ffbf00;
}

/* button */
.btn-brand {
  color: white;
  margin: 2px;
  border-radius: 5px;
  background-color: $color-secondary;
  border: 3px solid transparent;
  text-transform: uppercase;
  transition: 0.3s ease-out;
}
.btn-brand:hover {
  background-color: transparent;
  border: 3px solid $color-secondary;
  color: $color-secondary;
}
