$color-primary: #5170eb;
$color-secondary: #eb5160ff;
$color-bg-card: rgba(169, 215, 255, 0.6);
$color-bg-light: rgba(231, 214, 255, 0.6);

.service-container {
  font-family: "Josefin Sans", sans-serif;
}
