$color-primary: #5170eb;
$color-secondary: #eb5160ff;
$color-bg-card: rgba(169, 215, 255, 0.6);
$color-bg-light: rgba(231, 214, 255, 0.6);
$color-bg-dark: #252628;
$color-bg-white-shade: #eaf4fc;
$color-gold: #ffbf00;

