$color-primary: #5170eb;
$color-secondary: #eb5160ff;
$color-black: rgb(0, 0, 0);
$color-bg-light: #e7d6ffff;

.schedule-container {
//   background-color: $color-black;
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   font-family: "Josefin Sans", sans-serif;
}

