$color-primary: #5170eb;
$color-secondary: #eb5160ff;
$color-bg-card: rgba(169, 215, 255, 1);
$color-bg-light: rgba(231, 214, 255, 0.6);

/* card styling */
.card-container {
    border: 2px solid white;
    background-color: $color-bg-card;
}
.card-container h4{
    color: $color-secondary;
}

.card-container footer{
    border-top: 1px double white;
    color: $color-secondary;
}


/* button */
.btn-brand {
  color: white;
  margin: 2px;
  border-radius: 5px;
  background-color: $color-secondary;
  border: 3px solid transparent;
  text-transform: uppercase;
  transition: 0.3s ease-out;
}
.btn-brand:hover {
  background-color: transparent;
  border: 3px solid $color-secondary;
  color: $color-secondary;
}
